.avatarImage {
    width: 400px !important;
    height: 250px !important;;
    object-fit: fill !important;;
}

#team h2 {
    position: relative;
    padding: 0 0 15px;
}
#team p {
    font-size: 15px;
    font-style: italic;
    padding: 0;
    margin: 25px 0 40px;
}
#team h2::after {
    content: '';
    border-bottom: 2px solid #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 90px;
    margin: 0 auto;
    display: block;
}
#team .member {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px 0 15px 0;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.4);
}
#team .member .member-info {
    display: block;
    position: absolute;
    bottom: 0;
    left: -600px;
    transition: 0.4s;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.4);
}
#team .member:hover .member-info {
    left: 0;
    right: 0;
}
#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}
#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}
#team .member {
    margin-top: 15px;
}

.positionName {
    color: #fff;
}

.textColor {
    font-size: 3rem;
}

.memberAHref{
    color: #aec62c !important;
}
